@mixin mainAnimation {
	transition: all 300ms ease-in;
}

@mixin mainAlign {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin-right: -50%;
	transform: translate(-50%, -50%);
}

// Botão de Skip
#SkipAButton {
	text-align: center;
	font: normal 1.75vw Agency FB;
	color: white;
	outline: none;
	position: absolute;
	width: 10vw;
	height: 2.75vw;
	right: 45vw;
	top: 90vh;
	border: solid 1px transparent;
	text-shadow: 0 1.75vw 1.1vw red;
	transition: all 120ms ease;
	cursor: pointer;
	z-index: 10;
}

#SkipAButton::before {
	content: '';
	position: absolute;
	top: -.25vw;
	right: 0;
	width: 10vw;
	background:red;
	height: 2.75vw;
	border: solid 1px transparent;
	border-radius: 1.5vw 0 1.5vw 0;
	border: none;
	z-index: -1;
	transition: all 170ms ease;
	transform: scaleX(0);
	box-shadow: inset 0 0 30px .1vw black;
}

#SkipAButton:hover:before {
	transform: scaleX(1);
	border: solid 1px white;
}

#SkipAButton:hover {
	text-shadow: none;
	border: solid 1px transparent;
}

// Animação
#AnimationSpace {
	transition: margin-top 2s ease;
	user-select: none;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.LogoPart {
		position: static;
		transform: scale(.13);
		transition: all 1s ease-out;
		width: 100%;
		&:last-of-type {
			-webkit-mask-image: url('../Design/Animation/Mask.png'); 
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-size: 100%;
			margin-left: -100%;
		}
	}
	.AnimationName {
		width: 100%;
		transition: -webkit-mask-position .8s ease, margin-left .8s ease;
		position: absolute;
		transform: scale(.3);
		margin-top: 7.5%;
		margin-left: -10%;
		-webkit-mask-image: url('../Design/Animation/NamesMask.png');
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100% 120%;
		-webkit-mask-position-x: 98vw;
		&:first-of-type {
			margin-top: -5.65%;
		}
	}
}

#BlackScreen {
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	user-select: none;
 	background-color: black;
 	transition: .5s;
 	z-index: 5000000;
 }


 @media(max-width: 970px) {
	#SkipAButton {
		width: 30vw;
		height: 7.25vw;
		right: 35vw;
		font: normal 6vw Agency FB;
	}
	#SkipAButton::before {
		width: 30vw;
		height: 7.25vw;
	}
 }