$backgroundMain: #CECECE;
$mainColor: #0D05AD;
$menuColor: #7F0000;
$b: white;
$w: black;

body {
	background: $b;
}

.Block {
	background-color: $backgroundMain;
}

// Cabeçalho
#HeadTittle {
	background-color: $mainColor;
	box-shadow      : .2vw .2vw .4vw $w;
	p {
		color      : $b;
		// text-shadow: 0 .1vw .1vw $b;
	}
}

hr {
	background-color: $mainColor;
}

#FloatTheme {
	color: $w;
	text-shadow: 0 0 5px $w, 0 0 10px $w;
}

#ButtonPlay {
	color      : white;
}


// Menu
#MainMenu {
	.MenuSelected svg {
		fill: #B4B4B4!important;
	}
	svg {
		border-right: dashed 2px $menuColor;
		border-left : dashed 2px $menuColor;
		fill        : $w;
	}
	li {
		&:hover {
			border-right: dashed 2px $menuColor;
			svg {
				border-left: dashed 2px $menuColor;
			}
		}
		span {
			color: $w;
		}
	}
}


// SocialSection
#Social {
	#SocialMe {
		color: $w;
		#SocialTittle {
			p {
				text-shadow: 0px .5vw 1vw $b;
			}
		}
	}
	#SocialMidia {
		span img {
			border-color: $w;
		}
		a {
			img:hover, &:focus img {
				border-bottom: .1vw inset $w;	
			}
		}		
	}
	#SocialMidiaT {
		color: $w;
	}
}

#Knowledge, #EmailSec {
	.Tittle {
		color: $w;
	}
}

.KnowledgeItens {
	background: $b;
	color     : $w;
	border    : inset .05vw $mainColor;
	box-shadow: 1px 1px 1px  $mainColor,
	1px 2px 1px $mainColor,
	1px 3px 1px $mainColor;
	.KnowledgeLevel {
		border-left: dashed .05vw $w;
		background-color: rgba(255,255,255,.1);
	}
	&:hover {
		box-shadow: none!important;
	}
}



