@font-face {
	font-family: Font1;
	src: url('../../Design/Fonts/AgencyFB.ttf');
}

@font-face { 
	font-family: Font2;
	src        : url('../../Design/Fonts/aAntaraDistance.ttf');
}

@font-face {
	font-family: Font3;
	src        : url('../../Design/Fonts/euphorigenic.ttf');
}

$w: white !default;
$b: black !default;

body {
	background-color: $b;
	color: $w;
	&, * {
		margin: 0;
		padding: 0;
	}
}

@import 'Layout';

@import 'Menu';