$menuColor: black !default;
$claimed_menu: black !default;
$w: white !default;
$backgroundBlock: black!default;

// Menu
#MainMenu { 
	position     : absolute;
	top          : 12vw;
	left: 2vw;
	z-index      : 3;
	transition   : opacity 250ms ease-in;
	ul {
		list-style : none;
		user-select: none;
		outline    : none;
		line-height: .1;
		li {
			display: flex;
			align-content: center;
			align-items: center;
			cursor : pointer;
			span {
				display       : none;
				font          : bold 1.5vw Font3;
				margin-left: .5vw;
			}
			svg {
				fill: $w;
				width     : 2vw;
				transition: all 250ms ease;
			}
			&:hover {
				border-right: dashed .3vw $menuColor;
				padding-top: -1vw;
				padding-bottom: 0;
				padding-right: 1vw;
				& > span {
					display   : inline;
				}
				& > svg {
					border-left: dashed .3vw $menuColor;
					width       : 4vw;
					margin-left : -1vw;
					padding-left: .2vw;
					border-right: none;
				}
			}
		}
	}
}

.MenuSelected {
	cursor: default;
	svg {
		fill: $claimed_menu!important;
		border   : none!important;
		transform: scale(.8);
	}
	&:hover {
		border-right: none!important;
		& > span {
			display: none!important;
		}
		& > svg {
			width       : 2vw!important;
			margin-left : 0!important;
			padding-left: 0!important;
		}
	}
}

/* sm Small devices (phones, 576px e superior) */
@media (max-width: 576px) {
	#MainMenu {
		display: none!important;
		max-width: 100vw;
		background-color: $backgroundBlock;
		top: 0;
		left: 0;
		position: relative;
		text-align: center;
		padding-top: .5rem;
		padding-bottom: .5rem;
		.MenuSelected {
			svg {
				width: 2rem!important;
			}
		 	&:hover svg {
		 		width: 2rem!important;
		 	}
		}
		li {
			outline: none;
			user-select: none;
			margin-left: .5rem;
			margin-top: .5rem;
			&:hover {
				border: none;
				svg {
					width       : 2rem;
					margin-left : 0!important;
					padding-left: 0!important;
					border: none!important;
				}
			}
			span {
				font      : normal 2rem Font1!important;
				display   : block!important;
			}
			svg {
				width: 2rem!important;
				border: none;
			}
		} 

	}
}

/* md Medium devices (tablets, 768px e superior)*/
@media (max-width: 768px) {}

/* lg Large devices (desktops, 992px e superior)*/
@media (max-width: 992px) {}

/* xl Extra large devices (large desktops, 1200px e superior)*/
@media (max-width: 1200px) {}