<section id="AnimationSpace" style="display: none;">
		<img src="../Design/Animation/Name1.png" class="AnimationName">
		<img src="../Design/Animation/Name2.png" class="AnimationName">
		<img src="../Design/Animation/HalfLogo1.png" id="Half1" class="LogoPart">
        <img src="../Design/Animation/HalfLogo2.png" id="Half2"	class="LogoPart">
		<div data-text="Skip Animation" align="center" id="SkipAButton">Skip Animation</div>
</section>