<section id="AnimationSpace" style="display: none;">
		<img src="../Design/Animation/Name1.png" class="AnimationName" title="Nome Marcelo" alt="Marcelo Nome Letreiro">
		<img src="../Design/Animation/Name2.png" class="AnimationName" title="Nome Heinrick" alt="Heinrick Nome Letreiro">
		<img src="../Design/Animation/HalfLogo1.png" id="Half1" class="LogoPart" title="Logo M" alt="Letra M Logo Grande">
        <img src="../Design/Animation/HalfLogo2.png" id="Half2"	class="LogoPart" title="Logo H" alt="Letra H Logo Grande">
</section>
	<div style="display:none;" id="SkipAButton"><button>Skip Animation</button></div>