<section id="EmailSec" class="Block" style="display: none;">
    <div align="center" class="container mt-1 mt-md-5 mt-lg-5 mt-xs-5"><h1 class="Tittle">Me Envie Uma Mensagem</h1></div>
	<div class="row mt-2 mt-lg-3">	
		<div align="center" class="col-12">
			<form method="POST" action="marceloheinrick.com.br">
				<input type="text" name="name" autocomplete="off" placeholder="Nome" required>
				<br>
				<input type="text" name="email" autocomplete="off" placeholder="Celular ou Email" required>
				<br>
				<textarea name="text" rows="3" placeholder="Sua Mensagem" required></textarea>
				<br>
				<button type="send">Enviar</button>
			</form>
		</div>
	</div>
</section>