<section id="Home" class="Block" style="display: none;">
	<div class="container px-5 px-sm-2">
		<div id="HeadTittle" class="row mt-1">
			<div align="center" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
					<img align="center" id="Logo" class="py-3 user-select-none" src="../Design/Logo.png">
			</div>
			<div align="center" class="mt-lg-4 pt-lg-2 col-lg-8 col-xl-8 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center user-select-none bannerText"></p>
			</div>
		</div>
	</div>

	<div id="FloatTheme" class="user-select-none">
		<li id="Theme0">
			<svg viewBox="0 0 16 16" class="bi bi-dice-1-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm5 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 	0 3z"></path></svg>
			</li>
		<li id="Theme1">				
			<svg viewBox="0 0 16 16" class="bi bi-dice-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M13 1H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
			<circle cx="4" cy="4" r="1.5"/><circle cx="12" cy="12" r="1.5"/></svg>
		</li>
		<li id="Theme2">
			<svg viewBox="0 0 16 16" class="bi bi-dice-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  	<path fill-rule="evenodd" d="M13 1H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
		 	<circle cx="4" cy="4" r="1.5"/> <circle cx="12" cy="12" r="1.5"/> <circle cx="8" cy="8" r="1.5"/></svg>
		</li>
		<br>
	</div>
	<div id="configContainer">
		<label for="Animation">Start With Animation?</label>
		<input type="checkbox" name="Animation" id="AnimationCheck"/>
	</div>

	<div align="center" class="col-12 mt-lg-2">
		<hr style="display: block!important;">
		<div id="ButtonPlay" style="display: none;"><span>OFF</span></div>
	</div>

	
</section>