<section id="Home" class="Block" style="display: none;">
	<div id="HeadTittle">
			<div id="Logo">
				<img draggable="false" src="../Design/Logo.png">
			</div>

			<p class="bannerText"></p>
	</div>
	
</section>