<section id="Knowledge" class="Block" style="display: none;">
	<div class="Tittle"><h1>Meus Conhecimentos</h1></div>
	<div id="KnowledgeList">
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Expert</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Avançado</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Avançado</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Avançado</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Básico</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Básico</span></div></li>
			<li class="KnowledgeItens"><span class="KnowText"></span><div class="KnowledgeLevel"><span>Básico</span></div></li>
	</div>
</section>