<section id="Knowledge" class="Block" style="display: none;">
	<div align="center" class="container mt-1 mt-md-5 mt-lg-5 mt-xs-5"><h1 class="Tittle">Meus Conhecimentos</h1></div>
	<div class="container">
		<div class="row mt-lg-3">	
			<div class="col-2"></div>
			<hr>
			<div class="KnowledgeList col-12 mb-2 mb-md-5 mb-lg-5 mb-xs-5">
				<li class="KnowledgeItens"><span class="KnowText">React</span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">HTML 5</span><div class="KnowledgeLevel"><span>Avançado</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">CSS</span><div class="KnowledgeLevel"><span>Expert</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">Javascript</span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">Node.js</span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">SASS</span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">Vue.js</span><div class="KnowledgeLevel"><span>Básico</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">Typescript</span><div class="KnowledgeLevel"><span>Intermediário</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">GIT</span><div class="KnowledgeLevel"><span>Avançado</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">PhotoShop</span><div class="KnowledgeLevel"><span>Avançado</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">Docker</span><div class="KnowledgeLevel"><span>Básico</span></div></li>
				<li class="KnowledgeItens"><span class="KnowText">MongoDB</span><div class="KnowledgeLevel"><span>Básico</span></div></li>
			</div>
		</div>
	</div>
</section>