<section id="Social" class="Block" style="display: none;">

		<div id="SocialHigher">
			<div id="SocialPic">
				<img draggable="false" src="/Design/Images/Profile.jpg">
			</div>
			<div id="SocialTittles"> 		
				<h1>Marcelo Heinrick Romeiro Senna</h1>
				<p>2 Anos de Experiência Em Desenvolvimento Web</p>
				<p>18 Anos | São Paulo - SP</p>
			</div>	
		</div>
		<hr>

		<div id="SocialBottom">
			<p>
				Meu nome é Marcelo, tenho 18 anos e comecei a escrever códigos aos 16. Sou desenvolvedor Front-End empenhado em se consolidar na área e claro evoluir como programador. 
				<br><br>Atualmente atuando como estagiário na WebStore.
			</p>
		</div>

		<hr>

		<div id="SocialMidias">
			<div id="TittleMidia"><h1>Me Encontre Nas Mídias Sociais</h1></div>
			<div id="Midias">
				<span>
					<a href="https://github.com/Heinrick-Senna"><img src="/Design/SocialMedia/mdi_github.svg"></a>
					<a href="https://www.linkedin.com/in/marcelo-heinrick/"><img src="/Design/SocialMedia/mdi_linkedin.svg"></a>
					<a href="https://www.instagram.com/heinrick_senna/"><img src="/Design/SocialMedia/mdi_instagram.svg"></a>
				</span>
			</div>
		</div>
</section>