<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../Design/Logo.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link id="ThemeLink" rel="stylesheet" type="text/css" href="/CSS/Colors0.css">
	<link rel="stylesheet" type="text/css" href="/CSS/Positions.css">
	<link id="AnimationLink" rel="stylesheet" type="text/css" href="/CSS/Animation.css">
	<link rel="stylesheet" type="text/css" href="/CSS/Menu.css">
	<title>Marcelo Heinrick</title>
</head>
<body>
{{>animation}}

{{>menu}}

{{>home}}

{{>social}}

{{>knowledge}}

{{>portfolio}}

{{>email}}

<!-- Páginas De OffSet -->
    <div id="OffSet" style="display: none"></div>
    <section id="BlackScreen" style="transform-origin: bottom;transform: scaleY(0);"></section>
</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/Script/MainScript1.js"></script>
</html>