<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta lang="pt-BR">
	<meta name="description" content="Marcelo Heinrick | Front End e Web Dev, Crie O Seu Site Agora Mesmo | Desenvolvimento Web Profissional Pelo Melhor Preço.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../Design/Logo.png">
	<link id="ThemeLink" rel="stylesheet" type="text/css" href="/CSS/Pallete1.css">
	<link id="AnimationLink" rel="stylesheet" type="text/css" href="/CSS/Animation.css">
	<title>Marcelo Heinrick | Front End & Web Dev</title>
</head>
<body style="overflow: hidden;">

	{{>animation}}

	{{>menu}}

	{{>config}}

	{{>home}}

	{{>social}}

	{{>knowledge}}

	{{>portfolio}}

	{{>email}}

<!-- Páginas De OffSet -->
    <div id="OffSet" style="display: none"></div>
    <section id="BlackScreen" style="transform-origin: bottom;transform: scaleY(0);"></section>
	
</body>
	<script type="text/javascript" src="/Script/MainScript.js"></script>
</html>