$mainColor: #CD0000;
$menuColor: #7F0000;
$secundaryColor: black;
$mainText: Agency FB;
$secundaryText: Verdana;
$mainTextColor: white;
$secundaryTextColor: white;

/* Colors */

/*
 body {
 	background-color: #2354A6;
 }
*/
 body {
 	
 }
/* Animação */
 .AnimationNameMask {
 	background: linear-gradient(to right, 
 		white 0%,
 		white 90%,
 		rgba(0,0,0,.0) 100%);
 }

/* Cabeçalho */
 #HeadTittle {
 	background-color: $mainColor;
 	border-radius: 0px;
 	box-shadow: 4px 4px 8px white;
 }

 #HeadTittle p {
 	font: bold 1.5vw $mainText;
 	color: $mainTextColor;
 	text-shadow: 0px 2px 2px black;
 }

 hr {
 	background-color: $mainColor;
 }

.Block {
	background-color: #0B0B0B;
}

/* Seleção de Tema */
 #FloatTheme {
 	color: $mainTextColor;
 }

 /* MainMenu */
 .MenuSelected svg {
 	fill: #B4B4B4!important;
 	border: none!important;
 	transform: scale(.8);
 }

 .MenuSelected:hover {
 	border-right: none!important;
 }

 #MainMenu li span {
 	color: white;
 }

 #MainMenu svg {
	border-right: dashed 2px $menuColor;
 	border-left: dashed 2px $menuColor;
 	fill: white;
 }

 #MainMenu li:hover {
 	border-right: dashed 2px $menuColor;
 }

 #MainMenu li:hover > svg {
	border-left: dashed 2px $menuColor;
 }

