$mainColor: #CECECE;
$secundaryColor: #575757;
$mainText: Agency FB;
$secundaryText: Verdana;
$mainTextColor: black;
$secundaryTextColor: white;

@mixin mainAnimation {
	transition: all 300ms ease-in;
}

hr{
 	background-color: $mainColor;
 }

/* Cabeçalho */

 #FloatTheme {
 	position: absolute;
 	cursor: pointer;
 	margin: 0 0 0 93.7%;
 	top: 2%;
 }

 #FloatTheme li {
 	position: relative;
 	list-style: none;
 	display: inline;
 }

 #HeadTittle {
 	background-color: $mainColor;
 	border-radius: 20px;
 }

 #Tittle1 {
 	color: $mainTextColor;
 	font: 24px $mainText;
 	text-shadow: 0px 2px 5px gray;
 }

 #Logo {
 	width: 100px;
 }

/* Card de Informações */
 #CardInfo {
 	background-color: $secundaryColor;
 	border-radius: 20px;
 	color: $secundaryTextColor;
 	font: normal 16px $secundaryText;
 	cursor: pointer;
 	box-shadow: 0px -15px 40px 7px rgba(0,0,0,0.4);
 	margin-top: 5%;
 	padding: 2%;
 	@include mainAnimation;
 }

 #CardInfo:hover {
 	margin-top: 0;
 	box-shadow: 0 0;
 	@include mainAnimation;
 }

 #CardInfo p {
 	text-align: center;
 }
 /* Carousel */

 /* FloatIcon Menu */

 #NavBarIcon {
 	margin-left: 0.25%;
 	top: 26%;
 	position: absolute;
 	cursor: pointer;
 	@include mainAnimation;
 } 

 #NavBarIcon:hover {
 	margin-left: 1.25%;
 	@include mainAnimation;
 }

