$mainColor: #CECECE;
$mainText: Agency FB;
$mainTextColor: black;

 #FloatTheme {
 	position: absolute;
 	cursor: pointer;
 	margin-left: 93.7%
 }

 #FloatTheme li {
 	position: static;
 	list-style: none;
 	display: inline;
 }

 #HeadTittle {
 	background-color: $mainColor;
 	border-radius: 20px;
 }

 #Tittle1 {
 	color: $mainTextColor;
 	font: 24px $mainText;
 	text-shadow: 0px 2px 5px gray;
 }

 #Logo {
 	width: 100px;
 }

 hr{
 	background-color: $mainColor;
 }
