@mixin mainAnimation {
	transition: all 300ms ease-in;
}

@mixin mainAlign {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@font-face {
  font-family: aAnt;
  src: url('../../Design/Fonts/aAntaraDistance.ttf');
}

@font-face {
	font-family: eupho;
	src: url('../../Design/Fonts/euphorigenic.ttf');
}
 html, body {
  scroll-behavior: smooth;
  @include mainAnimation;
 }

// Sections
 .Block {
  position: absolute;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  transition: transform 500ms ease-in, margin-top 250ms ease-out;
 }

 .BlockSelected {
  margin-top: 0!important;
 }

@for $i from 0 through 6 {
  .Block:nth-child(#{$i}) {
    margin-top: 26.5vh * ($i - 2);
  }
}

 .Opaque {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
 }

// Headder
 #Logo {
 	width: 4.5vw;
 }

// Theme selection
 #FloatTheme {
  text-align: center;
 	position: absolute;
 	cursor: pointer;
 	right: 1vw;
 	top: 2vw;
 }

 #FloatTheme li {
 	position: relative;
 	list-style: none;
 	display: inline;
  margin-left: .5vw;
 }

 #FloatTheme svg {
  width: 1vw;
 }

 @media(min-width: 1720px) {
   #HeadTittle p {
   text-align: right!important;
  }
 }

// Neon Word 
#NeonWord {
	font: bold 15vw aAnt;
	color: white;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
 text-shadow: 0 0 5px white, 0 0 10px white;
 @include mainAnimation;
}

#NeonWord ~ p {
	font: normal 3vw eupho;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 30px #BC1827, 0 0 40px #BC1827, 0 0 50px #BC1827, 0 0 60px #BC1827, 0 0 70px #BC1827;
  }
  to {
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 40px #F31212, 0 0 50px #F31212, 0 0 60px #F31212, 0 0 70px #F31212, 0 0 80px #F31212;
  }
}

// Menu
#MainMenu {
 	position: absolute;
 	margin-bottom: 10%;
 	top: 30%;
 	left: 2%;
 } 

 #MainMenu ul {
  width: 100%;
 	list-style: none;
 	user-select: none;
 	outline: none;
 }

 #MainMenu li {
 	padding: 0% 0 0% 0%;
 	margin: 0% 0 0% 0%;
 	outline: none;
 	cursor: pointer;
  display: list-item;
 }

 #MainMenu li span {
  display: none;
  visibility: hidden;
  opacity: 0;
 	font: bold 1.5vw eupho;
  margin-left: .5vw;
  vertical-align: middle;
  transition: all 250ms ease;
 }

 .MenuSelected:hover > span {
  display: none!important;
 }

 .MenuSelected:hover > svg {
  width: 2vw!important;
  margin-left: 0!important;
  padding-left: 0!important;
 }

 .MenuSelected:hover {
  padding-left: 0!important;
  padding-right: 0!important;
 }

 #MainMenu svg {
  width: 2vw;
  transition: all 250ms ease;
 }

 #MainMenu li:hover {
  padding-right: 1vw;
 }

 #MainMenu li:hover > span {
  display: inline;
 	visibility: visible;
  opacity: 1;
 }

 #MainMenu li:hover > svg {
  width: 4vw;
 	margin-left: -1vw;
  padding-left: .2vw;
  border-right: none;
 }



