@mixin mainAnimation {
	transition: all 300ms ease-in;
}

@mixin mainAlign {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin-right: -50%;
	transform: translate(-50%, -50%);
}




 body {
 	@include mainAnimation;
 	background: default;
 }


/* Tela Inicial */
 #InitialText {
 	font: normal 1.2em Verdana;
	@include mainAlign;
 }

/* Animação */
 #FirstHalfLogo, #SecondHalfLogo {
 	width: 136px;
 	transition: all 1s ease-out;
 	user-select: none;
 }

 #AnimationMask, #AnimationBackground {
 	@include mainAlign;
 	transition: all 2s ease;
 	user-select: none;
 }

 #AnimationMask {
 	width:136px;
 	height: 287px;
 }

 .FirstHalfStart {
 	margin-top: -12%;
 }

 .SecondHalfOff {
 	margin-top: 72px;
 }

 .SecondHalfStart {
 	margin-top: -6.75%;
 }

 #NamesContainer {
 	@include mainAlign;
 	visibility: hidden;
 }

 #NamesContainer img {
 	height: 60px;
 }

 /*  width: 150px;
  -webkit-mask-image: -webkit-gradient(
    linear, left top, right bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,0)),
    color-stop(0.65,  rgba(0,0,0,0)),
    color-stop(1.00,  rgba(0,0,0,0)));
*/

/* Cabeçalho */
 #HeadTittle {
 	@include mainAnimation;
 	border-radius: 20px;
 }

 @media(max-width: 1024px) {
 	#HeadTittle br {
 	display: none;
 	}
 }

  #Logo {
 	width: 100px;
 }

 /* Seleção de Tema */
 #FloatTheme {
 	text-align: center;
 	position: absolute;
 	cursor: pointer;
 	margin: 0 0 0 93.7%;
 	top: 2%;
 }

 #FloatTheme li {
 	position: relative;
 	list-style: none;
 	display: inline;
 }

/* Card de Informações */
 #CardInfo {
 	border-radius: 20px;
 	cursor: pointer;
 	padding: 2%;
 }

 @media (min-width: 1200px) {
 #CardInfo {
 	margin-top: 5%;
 	transform: rotatex(75deg) translatey(-100%) translatez(-100px);
 	@include mainAnimation;
 }
  #CardInfo:hover {
 	margin-top: 0;
 	box-shadow: 0 0;
 	@include mainAnimation;
 	transform: rotatex(0deg);
 }
 }

 @media (max-width: 720){
 #CardInfo {
 	padding: 2%;
 	transition: all 500ms ease-out;
 }
 }

 #CardInfo p {
 	text-align: center;
 }

 /* Carousel */
 @media (max-width: 1200px){
 	#MainCarousel {
 		margin-top: 4%;
 	}
 }

 #MainCarousel:hover {
 		cursor: pointer;
 }

 /* FloatIcon Menu */
 #NavBarIcon {
 	margin-left: 0.25%;
 	top: 26%;
 	position: absolute;
 	cursor: pointer;
 	@include mainAnimation;
 } 

 #NavBarIcon:hover {
 	margin-left: 1.25%;
 	@include mainAnimation;
 }

/* Menu */ 
 #OutMenu {
 	position: absolute;
 	top: 40%;
 	@include mainAnimation;
 }
 
/* Esquemas De Classe, Menu */
 .MenuOff {
 	display: none;
 	@include mainAnimation;
 }

 .MenuHidden {
 	display: block;
 	visibility: hidden;
 	transition: all 400ms ease-out;
 	left: -32%;
 }

 .MenuOn {
 	visibility: visible;
 	transition: all 400ms ease-out;
 	left: 0;
 }